*{
    margin:0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}


.container{
    width:100% ;
    min-height:100vh;
    background: linear-gradient(135deg,rgb(24, 111, 101),rgb(181, 203, 153));
    padding: 10px;
}

.todo-list{
    width: 100%;
    max-width: 840px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    background: white;
}

.todo-list h2{
    color:#94A684;
    display: flex;
    margin-bottom: 20px;
    font-size:25px;
}

.todo-list h2 img{
    width: 30px;
    margin-left: 10px;

}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:rgb(244, 244, 244);
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border:none ;
    outline: none;
    background: transparent ;
    padding: 10px;
    font-weight: 14px;

}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background:#F17E7E;
    font-size: 16px;
    border-radius: 40px;
    cursor: pointer;
    


}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;

    
}

ul li::before{
    content: '';
    position: absolute; 
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(/image/record.png);
    background-size: cover;
    background-position: center;
    top:12px;
    left: 9px;

}

ul  .checked{
    color:#555 ;
    text-decoration: line-through;

}

ul .checked::before{
    background-image:url(/image/accept.png) ;
}

ul li span{
   position: absolute;
   right: inherit;
   right: 0;
   top: 5px;
   width: 40px;
   height: 40px;
   font-size: 22px;
   color:#555;
   line-height: 40px;
   text-align: center;; 
   border-radius: 50%;
}

ul li span:hover{
    background: #F17E7E;

}